/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
    background-color: #ffc107;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}


.my-btn-danger{
    background-color:#ff0e0e;
}

a.btn-success {
    background-color: #17a2b8;
}

a.btn-primary {
    background-color: #007bff;
}

a.btn-danger {
    background-color: #dc3545;
}
